html { 
  background: url(../img/fundo.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: transparent;
  color: rgb(0, 0, 0);
}

.intro-header {
  margin-top: 100px;
  text-align: center;
}

.container {
  max-width: 450px;
}

.row {
  margin-bottom: 2.5em;
}

/* icone */ 
.rede{
  width: 50px;
  height: 1px;
  float: left;
  transition: all 0.3s ease-out;
  
}

/* movimentação do icone */
.rede:hover{
  cursor: pointer;
  transform: translateY(-15px);
}

/* tamanho do icone*/
.icone{
  width: 40px;
}

/* define cor da linha */
hr{
  border-color: rgb(0, 0, 0);
}
/* borda da imagem */
.img-circle {
  border: 2px solid rgb(7, 7, 7);
}